* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d04e;
  min-height: 100vh;
}

main {
  width: 384px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #111111;
  padding: 24px;
  box-shadow: 8px 8px 0px #000000;
}

.main-img {
  width: 100%;
  margin-bottom: 24px;
}

.category {
  background-color: #f4d04e;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline;
  margin-bottom: 12px;

  font-family: Figtree;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.publish-date {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #111111;
}

.course-title {
  font-family: Figtree;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #111111;
}

.course-title:hover {
  color: #f4d04e;
}

.course-description {
  font-family: Figtree;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7f7f7f;
  margin-bottom: 24px;
}

.profile-wrapper {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 32px;
  border-radius: 100%;
  margin-right: 8px;
}

.user-name {
  font-family: Figtree;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
